NET "LED[0]"		LOC = P46	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
#NET "LED[1]"		LOC = P47	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "Switch[0]"	LOC = P80	| PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "Switch[1]"	LOC = P79	| PULLUP | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
#NET "Switch[2]"	LOC = P78	| PULLUP	| IOSTANDARD = LVCMOS33	| SLEW = SLOW | DRIVE = 12;